<form action="/upload/newCandidate" method="POST">
  <div><h2>name</h2>
    <input type="text" name="name" placeholder="NAME" required></div>
  <div><h2>email</h2><input type="email" name="email" placeholder="EMAIL" required></div>
  <div><h2>country</h2><input type="text" name="country" placeholder="COUNTRY" required></div>
  <div><h2>skill</h2><input type="text" name="skills" placeholder="SKILLS" required></div>
  <div><h2>description</h2>
  <textarea type="text" name="description" placeholder="DESCRIPTION" required></textarea></div>
  <button type="submit">upload candidate</button>
</form>