<h1>ingresar</h1>
<form action="/user/authentication" method="post">
  <div>
    <h1>username</h1>
    <input type="text" required name="username" placeholder="username"/>
  </div>
  <div>
    <h1>password</h1>
    <input type="password" required name="password" placeholder="password"/>
  </div>
  <button type="submit">submit</button>
</form>